PORT=5000
MONGO_URI=mongodb+srv://adi:adi2155@cluster0.eczsq.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your_secure_jwt_secret
NODE_ENV=development
CORS_ORIGIN=https://your-frontend-url.netlify.app
